.layout-container {
  max-width: 1200px;
  font-family: Helvetica, Arial, serif;
  color: #808080;
}

.layout-title {
  padding: 10px;
}

.app-bar {
  background: rgb(77, 36, 97);
  height: 40px;
  padding: 10px;
}

.score-meter {
  background: rgba(77, 36, 97, 0.95);
  height: 200px;
  padding: 10px;
}

.goals {
  border: 1px solid rgb(225, 225, 225);
  box-sizing: border-box;
  height: 200px;
  padding: 10px;
}

.content-feed {
  background: rgb(242, 242, 242);
  padding: 10px 20px;
}

.credit-education {
  margin-bottom: 10px;
}

.credit-education__title {
  margin-bottom: 10px;
}

.credit-education__content {
  border: 1px solid rgb(225, 225, 225);
  background: white;
  padding: 10px;
}

.content-feed-title {
  margin-bottom: 10px;
}

.content-feed-tile {
  height: 160px;
  background: white;
  border: 1px solid rgb(225, 225, 225);
  margin-bottom: 10px;
  padding: 10px;
}

.credit-offers__title {
  margin-bottom: 10px;
}

.credit-offers {
  display: flex;
  overflow-x: scroll;
}

.credit-offer {
  flex: 0 0 calc(100% - 20px);
  box-sizing: border-box;
  margin-right: 10px;
  padding: 10px;
  height: 400px;
  background: white;
  border: 1px solid rgb(225, 225, 225);
}


@media only screen and (min-width: 600px) {
  .credit-offer {
    flex: 0 0 calc(50% - 20px);
  }
}

@media only screen and (min-width: 1200px) {
  .credit-offer {
    flex: 0 0 calc(33% - 20px);
  }
}

.accounts-title {
  margin-bottom: 10px;
}

.account-list__item {
  padding: 10px;
  background: white;
  border: 1px solid rgb(225, 225, 225);
}

.account-list__item:not(:last-child) {
  border-bottom: none;
}

.account-detail {
  background: white;
  padding: 10px;
}

.account-detail__title {
  margin-bottom: 10px;
}

.account-detail__meter {
  margin-bottom: 10px;
}

.account-detail__bureau-reported-balance {
  margin-bottom: 10px;
}

.account-detail__user-entered-balance {
  margin-bottom: 10px;
}

.offers {

}

.offer {

}
